<div ng-include="'partials/header.html'"></div>
<form class="formoid-metro-cyan" style="background-color:#FFFFFF;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:480px;min-width:150px">
	<div class="title">
		<h2>{{ 'CONTATO.TITULO_DADOS' | translate }}</h2>
	</div>

	<div class="title">
		<h5>{{message}}</h5>
	</div>
	
	<div class="element-input">
		<label class="title">{{ 'CONTATO.NOME' | translate }}:<span class="required" aria-required="true">*</span></label>
		<input type="text" required="required" name="name" ng-model="contact.name" class="large" >
	</div>

	<div class="element-input">
		<label class="title">{{ 'CONTATO.TELEFONE' | translate }}:<span class="required" aria-required="true">*</span></label>
		<input type="text" required="required" name="phone" ng-model="contact.phone" class="large">
	</div>

	<div class="element-input" style="width: 432px">
		<label class="title">{{ 'CONTATO.OPERADORA' | translate }}:<span class="required" aria-required="true">*</span></label>
		<select class="title" required="required" ng-model="contact.operator" ng-options="operator.description for operator in operators">
			<option value="">Selecione uma operadora</option>
		</select>
	</div>

	<div class="submit">
		<input type="submit" value="{{ 'GENERICO.SALVAR' | translate }}" ng-click="save(contact)" style="width: 110px">
		<input type="submit" value="{{ 'GENERICO.CANCELAR' | translate }}" ng-click="list()" style="width: 110px">
	</div>

</form>
