<div ng-include="'partials/header.html'"></div>
<form class="formoid-metro-cyan" style="background-color:#FFFFFF;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:480px;min-width:150px">
	<div class="title">
		<h2>{{ 'USUARIO.TITULO_DADOS' | translate }}</h2>
	</div>

	<div class="title">
		<h5>{{message}}</h5>
	</div>

	<div class="element-input">
		<label class="title">{{ 'USUARIO.NOME' | translate }}:<span class="required" aria-required="true">*</span></label>
		<input type="text" required="required" name="name" ng-model="user.name" class="large" >
	</div>

	<div class="element-input">
		<label class="title">{{ 'USUARIO.SOBRENOME' | translate }}:<span class="required" aria-required="true">*</span></label>
		<input type="text" required="required" name="lastName" ng-model="user.lastName" class="large" aria-required="true">
	</div>

	<div class="element-email">
		<label class="title">{{ 'USUARIO.EMAIL' | translate }}:<span class="required" aria-required="true">*</span></label>
		<input type="email" required="required" value="" name="email" ng-model="user.email" class="large" aria-required="true">
	</div>

	<div class="element-input">
		<label class="title">{{ 'USUARIO.SENHA' | translate }}:<span class="required" aria-required="true">*</span></label>
		<input type="password" required="required" name="password" ng-model="user.password" class="large" aria-required="true">
	</div>


	<div class="submit">
		<input type="submit" value="{{ 'GENERICO.SALVAR' | translate }}" ng-click="save(user)" style="width: 110px">
		<input type="submit" value="{{ 'GENERICO.CANCELAR' | translate }}" ng-click="list()" style="width: 110px">
	</div>

</form>
